@background: rgb(33,36,19);
@brighterBack: rgb(62,59,41);
@textColor: rgb(169,168,139);
@textColorBrighter: rgb(161,157,110);
@highlightColor: rgb(111,107,50);

div.header {

  height: 79px;
  line-height: 79px;
  border-bottom: 1px solid @brighterBack;

  div.menu-item {
    &:hover {
      cursor: pointer;
    }
    &.active {
      color: @highlightColor;
      transition: all ease .3s;
      &:after {
        content: "";
        position: absolute;
        top:76px;
        left: 0;
        background: @brighterBack;
        height: 6px;
        width: 100%;
      }
    }
    &.search {
      &:before {
        position: absolute;
        content: "";
        width: 1px;
        height: 40px;
        background-color: @brighterBack;
        top: 20px;
        left: 0;
      }
    }
  }
}