div.deer-background{
  background-image: url("../../../assets/imgs/deer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  box-shadow: 0px 2px 3px 0px #424242;

  div.title {
    height: 60px;
    top: 200px;
    font-size: 40px;
    background-color: rgba(46, 74, 48, 0.26);
    color: #e0e0e0;
  }
}

div.intro{
  height: 120px;
  font-size: 18px;
  font-weight: 800;
}

i.material-icons {
  line-height: unset;
}
