<div class="row deer-background">
  <div class="col-6 mx-auto text-center title">Üdvözöljük a Gá-Major Bt honlapján!</div>
</div>
<div class="row align-items-center intro">
  <div class="col-5 mx-auto">
    <div class="row align-items-center">
      <div class="col-1"><i class="material-icons">done</i></div>
      <div class="col-11">Cégünk 1994 óta forgalmaz katona- és munkaruházati termékeket</div>
    </div>
  </div>
  <div class="col-5 mx-auto">
    <div class="row align-items-center">
      <div class="col-1"><i class="material-icons">done</i></div>
      <div class="col-11">2007-ben bővítettük ki árukínálatunkat vadászati termékekkel</div>
    </div>
  </div>
</div>
<div class="row align-items-center intro">
  <div class="col-5 mx-auto">
    <div class="row align-items-center">
      <div class="col-1"><i class="material-icons">done</i></div>
      <div class="col-11">Széles választék</div>
    </div>
  </div>
  <div class="col-5 mx-auto">
    <div class="row align-items-center">
      <div class="col-1"><i class="material-icons">done</i></div>
      <div class="col-11">Mérsékelt árak</div>
    </div>
  </div>
</div>
