@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.css";


@background: rgb(33,36,19);
@brighterBack: rgb(62,59,41);
@textColor: rgb(169,168,139);
@textColorBrighter: rgb(161,157,110);
@highlightColor: rgb(111,107,50);


i {
  vertical-align: middle!important;
}

body {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  background: @background;
  color: @textColorBrighter;
}